@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;600;700&family=Kanit:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-position: -15px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background: linear-gradient(252.81deg, #47A6DC -40.48%, rgba(27, 32, 30, 0.86) 102.84%);
}

.info-principal{
    width: 400px;
    height: auto;
    margin-top: 80px;
    margin-left: 150px;
}

.texto {
    font-family: 'Kanit', sans-serif;
    color: #FFF;
    text-align: justify;
}

.texto h2{
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 30px;
}

.texto p{
    font-weight: 400;
    font-size: 18px;
}

.lista-redesSociais{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 36px;
}

.lista-redesSociais li{
    list-style: none;
}

.lista-redesSociais >img{
    width: 38px;
}

.container-form{
    width: 350px;
    height: auto;
    margin-right: 170px;
    margin-top: 0px;
    font-family: 'Jura', sans-serif;
    color: #FFF;
    border-radius: 19px;
    background: radial-gradient(97.61% 55.99% at 50.15% 44.01%, rgba(22, 81, 123, 0.69) 0%, #1E1A36 100%);
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.titulo-form{
    font-size: 27px;
    font-weight: 700;
    margin: 20px 0 5px;
    text-align: center;
}

.legenda{
    color: transparent;
}

fieldset{
    border-style: none;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.legenda-inputs{
    font-weight: 500;
    font-size: 13px;
    padding: 3px;
    margin-left: 35px;
}

.input-texto{
    width: 85%;
    height: 41px;
    padding: 7px;
    margin: 0 auto;
    font-size: 16px;
    background: #DFDADA;
    color: black;
    border-radius: 6px;
    border: none;
}

input::-webkit-datetime-edit, input::-webkit-input-placeholder {
    font-family: 'Jura', sans-serif;
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.input-mensagem-erro{
    display: block;
    visibility: hidden;
    margin: 0 auto;
}

.input-incorreto {
    border: 2px solid rgb(255, 0, 0);
}

span{
    padding: 5px;
}

.span-incorreto {
    font-family: "Jura", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: red;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.text-terms{
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    font-size: 10px;
    margin: 0;
    padding: 5px;
}

.text-terms a{
    color: black;
}

.btn-submit {
    width: 130px;
    height: 37px;
    margin: 20px auto 30px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-submit >img,
.btn-submit >span {
    vertical-align: middle;
}
